@{
	ViewBag.Title = "Página Inicial";
}

<div class="text-center">
	<h1 class="display-4 fw-bold">Em construção 🛠️</h1>
	<p class="fs-3 mt-5">A página estará completa em breve, volte logo!</p>
</div>
